@include reset;

@import 'header';
html{
    font-size: 100%;
}


body{ 
    line-height: 1.3;
    font-family:  'Public Sans', sans-serif;
    font-size: $font-md;
    font-weight: 300;
    color: $GrayishBlue;
   
}


//button

button ,.button{
    padding: 0.875rem 2.875rem ;
   background: linear-gradient(to right, #6dd5ed, #2193b0); 
    border:0;
    color: $White;
    font-weight: 400;
    border-radius:50px ;
    cursor: pointer;

}

