/** flexbox**/

.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
         align-items: center;
    }
    &-jc-sa{
      justify-content: space-around;
 }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
      display: none;
    }
  }
  
  .hide-for-desktop {
    @include breakpoint-up(large){
      display: none;
    }
  }


  //visibility
  .hasfade{
    visibility: hidden;
  }
  //paddings

  .container{
    padding-left:  1.5rem;
    padding-right:  1.5rem;
  }
  .noscroll{
    overflow: hidden;
}