.latest{

    &__caption{
       padding-bottom: 1rem;

    }
    &__grid{
        @include breakpoint-up(medium){
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);;
       
       
        }
        @include breakpoint-up(large){
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(1,1fr);;
       
       
        }

    }
     &__item{
       
        img{
            border-radius: 5px;
            width: 100%;
        }
         p:first-of-type{
            font-size: $font-sm;
            padding-top: 10px;
         }
         h4{
             color: $DarkBlue;
             padding-bottom: 10px;
             @include breakpoint-up(medium){
               
                   font-size: $font-lg;
                
            }
         }
         p:last-of-type{
             line-height: 1.5;
         }

      

   }
}